<li>
  {{name}}

  <button class="eat-burger" data-id="{{id}}"
  data-eaten="{{eaten}}">{{#if eaten}}Eat this Burger{{/if}}</button>

  <button class="delete-burger" data-id="{{this.id}}"DELETE></button>
</li>